@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.grid-1{
  background: rgba(0, 0, 0, 0.5);
  color: #f4f4f4;
  font-size: 15px;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.3em;
}

.sidebar{
    margin-left: 1vw;
}

.ol-mouse-position{
    position: relative;
    display:inline-block;
    padding: 2px;
    top: 95.5vh ;
    background-color:rgba(81, 104, 82, 0.6);
    color: rgb(255, 255, 255);
    left:36%
    
}

.ol-scale-line{
    left: 1rem;
    bottom: 11rem;
}


.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color:rgb(71, 70, 70);
    justify-content: center;
    align-items: center;
    animation: loader-wrapper 5s infinite ease;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 238, 238);
    animation: loader-inner 2s infinite ease-in;
  }

  
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

  .overlay-container {
    text-align:center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    font-family: 'Gowun Batang', serif;
    font: 1em;
    color: cornsilk;
    
  }

 